<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Depression Detection</title>
</head>
<body>
  <div class="col-9" style="padding-top: 20px;">
    <h2 >Name: <i> {{name}} </i> </h2>
  </div>
  <div class="col-9" style="padding-top: 20px;">
    <h2>Email: {{email}} </h2>
  </div>
  <div class="col-9" style="padding-top: 20px;">
    <h2>Contact No: <i> {{contact}}  </i> </h2>
  </div>
  <a href='/edit'>Edit</a>
  
</body>
</html>

