{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
        
          <h2 class="active">Change Password</h2>
      
      
          
          <!-- Login Form -->
          <form method="POST" action="/passwordreset">
            {% csrf_token %}
            <br>
            <div>
              <label for="formGroupExampleInput2" style="color: #56baed;">Username</label>
              <input type="text" class="fadeIn third" name="name" id="formGroupExampleInput2" placeholder="Username">
            </div>
            <div>
              <label for="formGroupExampleInput2" style="color: #56baed;">New Password</label><br>
              <input type="password" class="fadeIn third" name="pass1" id="formGroupExampleInput2" placeholder="New Password">
            </div>
            <div>
              <label for="formGroupExampleInput2" style="color: #56baed;">Confirm Password</label>
              <input type="password" class="fadeIn third" name="pass2" id="formGroupExampleInput2" placeholder="Confirm Password">
            </div>
            <br>
            <br>
            <div>
              <input type="submit" class = "fadeIn fourth"value="Save">
            </div>
          </form>
          <div>
            {% for message in messages %}
            <h3> {{message}}  </h3>
            {% endfor %}
        </div>
        </div>
      </div>
      
      
</body>
</html>