<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Depression Detection</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
  </head>
  <body
    style="background-image: url(https://wallpaperaccess.com/full/449903.jpg)"
  >
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="
        background-image: linear-gradient(
          to left top,
          #ffffff,
          #f1d9f6,
          #f6add6,
          #fc7e9f,
          #f05454
        );
      "
    >
      <a class="navbar-brand" href="/">Depression Detection</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {%if user.is_authenticated %}
              <a class="dropdown-item" href="/prediction/image"
                >Image Detection</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/prediction/text"
                >Text Detection</a
              >
              {%else%}
              <a class="dropdown-item" href="/signin">Image Detection</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/signin">Text Detection</a>
              {%endif%}
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Resources
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item a1" href="/resources/books">Books</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/resources/movies">Movies</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/resources/videos">Videos</a>
            </div>
          </li>
          {%if user.is_authenticated%}
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink-4"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              href=""
              ><i class="fa fa-user"></i
            ></a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-cyan"
              aria-labelledby="navbarDropdownMenuLink-4"
            >
              <a class="dropdown-item" href="/myaccount">My account</a>
              <a class="dropdown-item" href="/signout">Sign out</a>
            </div>
          </li>
          <li class="nav-item active">
            {%else%}

            <a class="btn btn-primary" href="/signin">Sign in</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>
    <div style="display: flex; justify-content: center; padding-top: 100px">
      <div
        class="card"
        style="
          height: 565px;
          width: 670px;

          background-image: linear-gradient(
            to left top,
            #ffffff,
            #f1d9f6,
            #f6add6,
            #fc7e9f,
            #f05454
          );
        "
      >
        <div class="card-body">
          <h4 class="card-title" style="display: flex; justify-content: center"
            >Tell us how are you felling today?</h4
          >

          {% if text_result %}
          <div>
            <div style="padding-top: 30px">
              <form>
                <div class="form-group">
                  <textarea
                    readonly
                    class="form-control-plaintext"
                    id="exampleFormControlTextarea1"
                    rows="4"
                    style="background-color: #ffffff; border-radius: 10px"
                  >
 {{text}} </textarea
                  >
                </div>
                <div
                  style="
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    padding-bottom: 25px;
                  "
                >
                  <div
                    class="card text-center"
                    style="
                      width: 7rem;
                      height: 2rem;
                      border-radius: 20px;
                      background-color: #ffffff;
                      box-shadow: 2px 2px 2px 2px black;
                    "
                  >
                    <div class="card-body" style="padding-top: 4px">
                      Result
                    </div>
                  </div>
                </div>
                <div style="display: flex; justify-content: center">
                  <h3 style="font-family: 'Times New Roman', Times, serif"
                    ><i> {{ text_result }} </i>
                  </h3>
                </div>

                {% if text_result == "Depressed" %}
                <p
                  style="
                    margin-top: 10px;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 17px;
                  "
                  >You may have symptoms of depression. Even if you
                  don't feel weighed down by your symptoms, it is important to
                  do something about them right now. When you’re feeling
                  depressed, it can be hard to even do small things to take care
                  of yourself.<b>
                    But you should call a doctor or a mental health professional
                    today.</b
                  >
                  And try to talk with your family and friends how you’re feeling.</p
                >
                {%else%}
                <p
                  style="
                    margin-top: 10px;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 17px;
                  "
                  >You don't show any symptoms of depression. So if you’re
                  feeling low, you may just be having a few bad days. If you are
                  still concerned about your feelings, you should talk to
                  someone about how you're feeling.</p
                >
                {% endif %}
                <br />

                <div style="display: flex; justify-content: center">
                  <a
                    class="btn btn-primary"
                    href="/prediction/text"
                    role="button"
                    >RETAKE THE TEST</a
                  >
                </div>
              </form>
            </div>
          </div>
          {%else%}
          <div style="padding-top: 30px">
            <form
              method="POST"
              action="/prediction/text"
              ,
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-group">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="4"
                  name="text"
                ></textarea>
              </div>
              <div style="display: flex; justify-content: center">
                <button type="submit" class="btn btn-primary mb-1"
                  >Submit</button
                ></div
              >
            </form>
          </div>

          {% endif %}
        </div>
      </div>
    </div>
    <br />
    <br />
    {% if text_result %}
    <div style="display: flex; justify-content: center">
      <div
        class="card text-center"
        style="
          width: 9rem;
          height: 4rem;
          border-radius: 16px;
          background-color: #ffffff;
          box-shadow: 5px 5px 5px 5px black;
        "
      >
        <div class="card-body"> Resources </div>
      </div>
    </div>
    <br />
    <div style="display: flex; justify-content: center">
      <p
        >These feelings should go away as the problem passes but you can help
        things along by trying some of the Resources below:</p
      >
    </div>
    <div class="card-deck" style="margin: 20px 100px 0px 100px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; font-size: 20px"
            >Books</h5
          >
          <p class="card-text" style="font-size: 16px"
            >Books Inspire us, motivates us, encourage us and always make us see
            the right path, it makes us understand that nothing is impossible in
            this world, It allows us to take action and help us to know our true
            potential, Books illuminates our life, Books show us our passion and
            make us understand that all Limits are self-imposed, Limits are
            usually in our mind.</p
          >
          <a
            class="nav-link"
            href="/resources/books"
            style="position: absolute; bottom: 0px; right: 0px; font-size: 14px"
            >More Books</a
          >
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; font-size: 20px"
            >Movies</h5
          >
          <p class="card-text" style="font-size: 16px"
            >Movies affect many of us powerfully because the combined impact of
            images, music, dialogue, lighting, sound and special effects can
            elicit deep feelings and help us reflect on our lives. They can help
            us to better understand our own lives, the lives of those around us
            and even how our society and culture operate.</p
          >
          <a
            class="nav-link"
            href="/resources/movies"
            style="position: absolute; bottom: 0px; right: 0px; font-size: 14px"
            >More Movies</a
          >
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; font-size: 20px"
            >Motivational Videos</h5
          >
          <p class="card-text" style="font-size: 16px"
            >Not everyone falls into success with their first try. In fact, very
            few of us do. Life for most people is a journey of self-discovery –
            finding out who we are, what we’re best at, and how we can make a
            difference in this world. Unfortunately, the inescapable obstacles
            that plague our path can stop us in our tracks. Some of the best
            places to look for inspiration during times of trouble are from
            those who have succeeded through the tough times. Some you may have
            heard of, some may surprise you, but hopefully all will inspire you
            today.</p
          >
          <a
            class="nav-link"
            href="/resources/videos"
            style="position: absolute; bottom: 0px; right: 0px; font-size: 14px"
            >More videos</a
          >
        </div>
      </div> </div
    >{% endif %}
    <br />
    <br />
    <br />
  </body>
</html>
